<div class="post-wrapper" ng-controller="PostsCtrl">
    <div class="content-wrapp">
        
        <div class="main-content">
            <h2 class="post-category">
                <span>{{ singlePostUi.spostCategory }}</span>
            </h2>

            <h5 class="post-year">{{ singlePostUi.spostYear }}</h3>

            <h1 class="post-title">{{ singlePostUi.spostTitle }}</h3>
            
            <span class="post-tags" ng-repeat="sTags in singlePostUi.spostTagList">{{ sTags.eachTag}}</span>
        </div>
        
    </div>
    <!-- <div class="post-avatar" ng-style="{'background-image':'url({{ singlePostUi.spostBGUrl }})'}"></div> -->

    <div class="post-avatar">
        <a ng-href="#!/home">
            <div class="go-back">
                <span class="lines"></span>
            </div>
        </a>
        <div class="image-contain">
            <img ng src="{{ singlePostUi.spostBGUrl }}">
        </div>
    </div>
    <!-- <img ng-src="{{ singlePostUi.spostBGUrl }}" width="500px;"> -->
    
</div>