//Background and nutrals
$bodyBG : #ECECEC;
$white : #ffffff;
$black : #000000;
$darkGray: #404040;

//Main Highlights
$purpleHL : #C82D7B;

//text colors
$firstPostText : #95989A;

//Production Usage
$grid-post1 : #ffffff;
$grid-post2 : #F3F3F3;
$grid-post3 : #DFDFDF;
$grid-post4 : #D1D1D1;

