@mixin font-roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin roboto-thin {
    font-weight: 100;
}

@mixin roboto-light {
    font-weight: 300;
}

@mixin roboto-regular {
    font-weight: 400;
}

@mixin roboto-bold {
    font-weight: 700;
}

@mixin roboto-black {
    font-weight: 900;
}