@import 'colors';
.post-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 75vh;
    .content-wrapp {
        display: flex;
        width: 100%;
        background: $white;
        padding: 75px 75px 75px 75px;
        margin-left: 25%;
        box-sizing: border-box;
        filter: opacity(0);
        animation: opacityIn forwards 0.4s ease-in-out;
        animation-delay: 0.2s;
        overflow: hidden;
        .main-content {
            width: 70%;
            margin-left: 30%;
            padding-left: 75px;
            transform: translate(100%);
            animation: contentIn forwards 0.8s ease-in-out;
            animation-delay: 0.4s;
        }
    }
    .post-avatar {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        position: absolute;
        height: auto;
        max-height: 500px;
        background: $grid-post3;
        top: 75px;
        background-size: cover;
        background-repeat: no-repeat;
        left: 0;
        transform: translate(-150%);
        filter: opacity(0);
        animation: avatarIn forwards 0.8s ease-in-out;
        @media only screen and (max-width: 1366px) {
            max-height: 300px;
        }
        .go-back {
            width: 80px;
            height: 80px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background: $white;
            position: absolute;
            top: -40px;
            left: 75px;
            z-index: 0;
            border-radius: 50%;
            cursor: pointer;
            transform: translate(0, 200px);
            filter: opacity(0);
            animation: go-backUp forwards 0.4s ease-in-out;
            animation-delay: 0.8s;
            @media only screen and (max-width: 1366px) {
                width: 60px;
                height: 60px;
                top: -30px;
            }
            .lines {
                width: 16px;
                height: 2px;
                background: $darkGray;
                display: block;
                border-radius: 2px;
                position: relative;
                &:after,
                &:before {
                    content: '';
                    width: 8px;
                    height: 2px;
                    border-radius: 2px;
                    position: absolute;
                    display: block;
                    background: $darkGray;
                }
                &:before {
                    transform: rotate(45deg);
                    transform-origin: left;
                }
                &:after {
                    transform: rotate(-45deg);
                    transform-origin: left;
                }
            }
        }
        .image-contain {
            overflow: hidden;
            display: block;
            width: 100%;
            height: 100%;
            max-height: 500px;
            img {
                width: 100%;
                height: 100%;
            }
            @media only screen and (max-width: 1366px) {
                max-height: 300px;
            }
        }
    }
}

@keyframes avatarIn {
    0% {
        transform: translate(-150%);
        filter: opacity(0);
    }
    // 70%{
    //     transform: translate(-70%);
    //     filter: opacity(0.4);
    // }
    100% {
        transform: translate(0);
        filter: opacity(1);
    }
}

@keyframes go-backUp {
    0% {
        transform: translate(0, 200px);
        filter: opacity(0);
    }
    80% {
        transform: translate(0, -20px);
        filter: opacity(1);
    }
    100% {
        transform: translate(0, 0px);
        filter: opacity(1);
        z-index: 2;
    }
}

@keyframes contentIn {
    0% {
        transform: translate(100%);
        filter: opacity(0);
    }
    100% {
        transform: translate(0%);
        filter: opacity(1);
    }
}

@keyframes opacityIn {
    0% {
        filter: opacity(0);
    }
    100% {
        filter: opacity(1);
    }
}