@mixin messege-me-lbl {
    .message-me-lbl {
        font-size: 1.2rem;
        text-transform: uppercase;
        @include roboto-bold;
        color: $firstPostText;
        display: block;
        margin: 1rem 0;
    }
}

.mp-sidenav {
    display: flex;
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
    background: $white;
    position: absolute;
    top: 116px;
    left: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    @include font-roboto;
    text-align: center;
    transform: translate(0, -120%) scale(0);
    transition: all 0.3s ease-in-out;
    &.sidenav-open {
        transform: translate(0, 0) scale(1);
    }
    ul.mp-main-nav {
        margin: 120px 0 80px 0;
        padding: 0;
        text-align: center;
        li {
            list-style: none;
            @include roboto-black;
            font-size: 2rem;
            line-height: 2rem;
            text-transform: uppercase;
            position: relative;
            color: $white;
            overflow: hidden;
            &:nth-child(odd){
                transform: translate(-500px);
                filter: opacity(0);
                &.addLinks{
                    animation: oddLinks forwards 0.6s ease-in-out;
                    animation-delay: 0.7s;
                }
            }
            &:nth-child(even){
                transform: translate(500px);
                filter: opacity(0);
                &.addLinks{
                    animation: evenLinks forwards 0.6s ease-in-out;
                    animation-delay: 0.7s;
                }
            }
            &:first-child {
                margin-bottom: 48px;
            }
            &:before{
                width: 102%;
                height: 100%;
                content: '';
                background: $purpleHL;
                display: block;
                position: absolute;
                z-index: -1;
                top: -8px;
                transform: translate(100%) rotate(20deg);
                transform-origin: right;
                transition: all 0.3s ease-in-out;
            }
            a{
                color: $purpleHL;
                transition: all 0.2s ease-in-out;
            }
            &:hover{
                &:before{
                    transform: translate(0) rotate(0deg);
                }

                a{
                    color: $white;
                }
            }
        }
    }
    .contact-me {
        @include messege-me-lbl;
        margin: 0 0 2rem 0;
        .mp-email {
            @include roboto-light;
            font-size: 3rem;
            color: $purpleHL;
        }
    }
    .drop-message {
        @include messege-me-lbl;
        width: 100%;
        padding: 0 20%;
        box-sizing: border-box;
        input,
        textarea {
            display: block;
            width: 100%;
            margin: 1rem 0;
            outline: none;
            padding: 1rem;
            box-sizing: border-box;
            border: 2px solid $firstPostText;
        }
        input {
            height: 60px;
            font-size: 1.2rem;
        }
        textarea {
            height: 30vh;
            font-size: 1.2rem;
        }
        .send-btn {
            height: 48px;
            line-height: 48px;
            font-size: 0.8rem;
            padding: 0 4rem;
            display: inline-block;
            text-transform: uppercase;
            color: $white;
            background: $darkGray;
            cursor: pointer;
        }
    }
}

.main-page {
    overflow: hidden;
}

@keyframes oddLinks {
    0%{
        transform: translate(-500%);
        filter: opacity(0);
    }
    80%{
        transform: translate(20%);
        filter: opacity(1);
    }
    100%{
        transform: translate(0%);
        filter: opacity(1);
    }
}

@keyframes evenLinks {
    0%{
        transform: translate(500%);
        filter: opacity(0);
    }
    80%{
        transform: translate(-20%);
        filter: opacity(1);
    }
    100%{
        transform: translate(0%);
        filter: opacity(1);
    }
}